name: Unit Test

on: push

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE
          pip install meson-python ninja
          pip install --no-build-isolation -e '.[tests]'

      - name: Run tests
        run: pytest tests/ --import-mode=importlib -n4 --cov=src/da4ml --cov-report=xml

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
